IdleTimeout	{{uronode_idletimeout}}
ConnTimeout	{{uronode_conntimeout}}
HostName	{{uronode_hostname}}
NodeId		{{uronode_nodeid}}
FlexId		{{uronode_flexid}}
NrPort		{{uronode_nrport}}
LogLevel	{{uronode_loglevel}}
EscapeChar      {{uronode_escapechar}}

